*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(188, 233, 187);
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing:content-box;
    background-color: burlywood;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(67, 177, 3);
    padding: 10px 20px;
}
section {
    padding: 30px;
    margin: 30px;
    border: 1px solid #ccc;
}
.nav-links, .nav-auth{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a, .nav-auth a{
    text-decoration: none;
    color: antiquewhite;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1.5px;
}
.nav-links a:hover, .nav-auth a{
    background-color: rgb(13, 51, 219);
    border-radius: 5px;
    border: 1px solid red(117,113,113);
}
.input{
    background-color: azure;
    border: 1px solid black;
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
    text-align: center;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-item img {
    width: 200px;
    height: auto;
}
.caption {
    margin-top: 10px;
    font-size: 16px; 
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

